
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400,600&display=swap");

* {
    box-sizing: border-box;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
    text-align: center;
    padding: 5rem;

    transition: background 0.3s linear,
    color 0.3s linear;
}

body.dark {
    background-color: #1f1f1f;
    color: white;
}

label{
    background-color: blueviolet;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    user-select: none;
    cursor: pointer;
    transition: background 0.3s linear;
    
}

body.dark label {
    background-color: #fff;
}

.toggle-container{
   position: fixed;
   top: 10px;
   right: 10px;
}

input{
    visibility: hidden;
}






