
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400,600&display=swap");

* {
    box-sizing: border-box;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
}

.heart {
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}









