body{
    background-color: blueviolet;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
}









