@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400,600&display=swap");

* {
    box-sizing: border-box;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
}

.carousel{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    height: 500px;
    width: 500px;
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}






