@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400,600&display=swap");

* {
    box-sizing: border-box;
}



body{
    background-color: rgb(152, 95, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
}

.btn{
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
}









