body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem;
}

button{
    padding: 1rem;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: inherit;
}










