body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "poppins" , "sans-serif";
}

button{
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    font-family: inherit;
}

.popup-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    align-items: center;
    justify-content: center;
}

.popup-container.active {
    display: flex;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    position: relative;
    width: 500px;
}

.popup button {
    background-color: #fff;
    color: blueviolet;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}



